 
	<footer id="contact">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 text-center-mobile white">
					<h3  class="white">Feel Free To Contact Us</h3>
					 <form method="POST" action="//formspree.io/">
  <div class="form-group has-success has-feedback white">
    <label for="name">Name *</label>
    <input type="text" class="form-control" id="name" placeholder="Name" required>
 
  </div>
  <div class="form-group has-success has-feedback">
    <label for="email">Email *</label>
    <input type="email" class="form-control" id="email" placeholder="Email" required>
  </div>
  <div class="form-group has-success has-feedback">
    <label for="subject">Subject *</label>
    <input type="text" class="form-control" id="subject" placeholder="Subject"  required>
  </div>
  <div class="form-group has-success has-feedback">
    <label for="message">Message*</label>
     <textarea class="form-control" rows="5" required></textarea>
  </div>
  <button type="submit" class="btn btn-blue">SEND</button>
  <form>
				</div>
				<div class="col-sm-6 text-center-mobile">
					<h3 class="white">Opening Hours <span class="open-blink"></span></h3>
					 
				</div>
			</div>
			<div class="row bottom-footer text-center-mobile">
				<div class="col-sm-8">
					<p>&copy; All content copyright {{ site.time | date: '%Y' }}.Designed by <a href="https://www.suryakavutarapu.wordpress.com">SuryaKavutarapu</a> </p>
				</div>
				<div class="col-sm-4 text-right text-center-mobile">
					<ul class="social-footer">
						<li><a href=""><i class="fa fa-facebook"></i></a></li>
						<li><a href=""><i class="fa fa-twitter"></i></a></li>
						<li><a href=""><i class="fa fa-google-plus"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>