	<section class="section section-padded blue-bg" id="inspirations">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="owl-twitter owl-carousel">
					{% for item in site.data.settings.quotes %}
						<div class="item text-center">
							<i class="icon fa fa-quote-left fa-4x"></i>
							<h4 class="white light">{{item.data}}</h4>
							<h4 class="light-white light">#{{item.author}}</h4>
						</div>
					{% endfor %}	 
					</div>
				</div>
			</div>
		</div>
	</section>