	<section id="services" class="section-padded-bottom gray-bg">
		<div class="container">
			<div class="row title text-center">
				<h2 class="margin-top">Services</h2>
				<h4 class="light muted">We care for the children who lost their life away from their parents and just born babies who left because of their family situations. we care for such children by giving our helping hand for their livelyhood and encouraging them in each any every aspect to achieve their dreams in real life.

Every children is not poor by birth,their conditions and environment among them makes poor.we give helping hand for them and guide them to know what is going to be in future and making them to meet their challenges in their own life. We may not not help hundrends of children but a helping hand in a right situation gives a lot for their lively hood.we don't need any of our financial support we just need the same helping hand from your side by giving the linformation or location of such a children if u find any where around ur premises.</h4>
			</div>
			 
		 
		</div>
	
	</section>
	 