<section id="vission" class="section section-padded">
		<div class="cut cut-top"></div>
		<div class="container">
			<div class="row text-center title">
				<h2>Vission</h2>
				<h4 class="light muted">Vast number of children who are living on the streets, exploited for labor, victims of trafficking, or participating in armed groups. the number of orphans nearby and fail to account for many children who are among the most vulnerable and most in need of a family. Many of the children living in orphanages or on the streets are known as “orphans.” Although one or even both of their parents may be alive, orphans rarely see their parents or experience life in a family. Some never do. Global orphan statistics shed virtually no light on the reality of the vast number of orphans who have one or two living parents, yet experience life as if they did not.We offer support and opportunities that enable these children to remain safely intact and provide resources to help them thrive.
                <span class="b" >The hearts of small children are delicate organs. A cruel beginning in this world can twist them into curious shapes. The heart of a hurt child can shrink so that forever afterward it is hard and pitted as the seed of a peach. Or, again, the heart of such a child may fester and swell until it is misery to carry within the body, easily chafed and hurt by the most ordinary things.
-- Carson Smith</span><br>It is not the physical pain that endangers orphans the most. It is the mental pain caused by stress from years and years of being neglected, pushed aside, disregarded, unloved, and made to feel undeserving, and in almost all cases, made to feel like a possession rather than an equal human being. Even more it is the lack of unconditional love, the right to be accepted, as a child and to be loved, as a child, no matter what you do is the most wounding
				</h4>
			</div>
			 
		</div>
		<div class="cut cut-bottom"></div>
	</section>